{{>layouts/header}}
 
  <!-- 부트스트랩 table 참고 -->
  <!-- 머스태치 문법 : https://bibi6666667.tistory.com/269 -->
  
  <table class="table">
  
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Title</th>
      <th scope="col">Content</th>
    </tr>
  </thead>
  
  <tbody>
    {{! 주석입니다}}
    {{! #article}}
    <tr>
      <th scope="row">{{ article.id }}</th>
      <td>{{ article.title }}</td>
      <td>{{ article.content }}</td>
    </tr>
    {{! /article}}
  </tbody>
  
  </table>
  
  <a href="/articles/{{ id }}/EditForm" class="btn btn-success">수정</a>
  <a href="/articles/{{ id }}/Delete" class="btn btn-danger">삭제</a>
  <a href="/articles/WriteForm" class="btn btn-info">새 글 쓰기</a>
  <a href="/articles/List" class="btn btn-secondary">목록</a>

{{>layouts/footer}}